---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// 폰트 사이즈 오버라이딩
html {
  font-size: 14px; // 원래 16px
  
  @include breakpoint($medium) {
    font-size: 15px; // 원래 18px
  }
  
  @include breakpoint($large) {
    font-size: 16px; // 원래 20px
  }
  
  @include breakpoint($x-large) {
    font-size: 17px; // 원래 22px
  }
}
